.create-cont {
    // text-align: center;
    margin: 0 10%;
    margin-top: 3em;

    h4 {
        text-align: left;
        color: #828282;

    }

    .main-cont {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        // width: 90%;

        h1 {
            margin-bottom: .5em;
            margin-top: 1em;
            color: #240D57;
            font-size: 3rem;
            font-weight: 600;
        }

       

     
        .upload {

        
            width: 100%;
            max-width: 500px;
            height: 500px;
            max-height: 60vw;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            opacity: 0.9;
    
            input[type="file"] {
                display: none;
            }
            .custom-file-upload {
                height: 100%;
                // display: grid;
                // place-items: center;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                cursor: pointer;

                
    
                
            }
        }

        .forms {
            width: 100%;

            .second-text {
                display: none;
            }

            button {
                border: none;
            }
        }


        .text-input-cont {
            margin-top: 1em;
            width: 100%;
            display: flex;
            flex-direction: column;

            label {
                text-align: left;
                margin-bottom: .5em;
                color: #4f4f4f;
                font-weight: 600;
                font-size: 20px;

                span {
                    color: #828282;
                    font-weight: 300;
                }

            }

            input {
                border: none;
                width: 100%;
                max-width: 100%;
                height: 60px;
                border-radius: 10px;
                background-color: #E0E0E0;
                opacity: 0.5;
                padding:1rem;
                &:hover {
                    background-color: #E6DEFC;
                    
                }

                &:focus {
                    border: none;
                    outline: none;
                }
            }
        }


        .home-btn {
            background: linear-gradient(90deg, #8456EC 3.25%, #E87BF8 100%);
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 3rem;
            // max-width: 32rem;
            // padding: 1em .1em;
            margin-top: 2em;
            margin-bottom: 2rem;
            
    
            h1 {
                
                font-size: 20px;
                font-weight: 700;
                color: #FFFFFF;
    
            }
        }
    
    }

    
}



@media screen and (max-width: 520px) {
    .create-cont {
        .main-cont {
            h1 {
             font-size: 2rem;
            }

            .text-input-cont {
                label {
                    font-size: 15px;
                }
            }

            .home-btn {
                h1 {
                    font-size: 15px;
                }
            }
        }
    }
}


@media screen and (min-width: 1260px) {
    .create-cont {
        .main-cont {
            flex-direction: row;
            gap: 6%;

            .first {
                order: 1;
                .first-text {
                    display: none;
                }
            }

            .upload {
                width: 1000px;
            }

            .forms {
                .second-text {
                    display: block;
                }
                max-width: 700px;
            }
        }
    }
}
