@font-face {
  font-family: "Helvetica-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("./Assets/Fonts/Helvetica-Font/Helvetica-Bold.ttf");
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Helvetical-Bold', sans-serif;
  background-color: #F6F2FF;
}

.html {
  scroll-behavior: smooth;
}


@media screen and (min-width: 750px) {
  body {
    background: linear-gradient(0deg, #F6F2FF, #F6F2FF), #FBFAFF;
  }
   
}




